/*Barra menu*/
.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}
.barraMenu{
  background: #736E69;
}

.textoLogoMenu{
  color: #520201 !important;
  font-weight: bold;
  padding-top: 5%;

}
.textoLogoMenu img{
	width: 50px;
}
.textoBarraMenu{
  color: white !important;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}
/**/
.marginNull{
	margin: 0;
}
.heading { border-bottom:3px solid #ddd; }
.twitter-hover {
    background-image: url('https://lut.im/SRoUJUn7V4/cORSlFIVBlR7M8Zv.png');
}
.facebook-hover {
    background-image: url('https://lut.im/9LlTfOBMjB/ccPwdiudyoF3x1wE.png');
}
.google-hover {
    background-image: url('https://lut.im/qGelLnYHZ3/dL1Hrnzyl7cMz14e.png');
}
.linkedin-hover {
    background-image: url('https://lut.im/JNIybEyJDx/6gAE6YPt35e7qMAB.png');
}
.pinterest-hover {
    background-image: url('https://lut.im/fU1GnJ1cOw/d0iRmklZgk2l6o5W.png');
}
.instagram-hover {
    background-image: url('https://lut.im/0LARg4VaCM/bWRJ8RbjK0r14RdO.png');
}
.tumblr-hover {
    background-image: url('https://lut.im/wJDqfDmhLL/YZoci8VwKz37qwv4.png');
}
.reddit-hover {
    background-image: url('https://lut.im/zfzy0kvZKw/BJBLoz6FyoLLFZGg.png');
}
.stumbleupon-hover {
    background-image: url('https://lut.im/sdOPL3LP6d/VMRYTaE6cZxHa3Hq.png');
}
.social-slide {
	height: 48px;
	width: 48px;
	margin: 10px;
	float: left;
	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
}
.social-slide:hover {
	background-position: 0px -48px;
	box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}

/**/
.navBarMenu{
	margin-bottom: 0;
	background: #736E69;
	border-color: #736E69;
	border-radius: 0;
}
.videoBanner{
	margin-top: -1%;
}
/**/
.footer{
  background: #736E69;
  padding-top: 1%;
  padding-bottom: 1%;
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
  color: white;
}
.tituloMediosSocialesFooter{
  margin-top: 1%;
}
#myCarousel{
  margin-bottom: 5%;
}
.iconoRedSocial{
  text-align: right;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}
.linkRedSocialFooter,.linkRedSocialFooter:visited{
  color: white;
}
.colorWA{
  color:#38BD4A;
}
.colorFB{
  color: #3A5BA0;
}
.colorIG{
  color: #FA7A20;
}

.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}